@model Gazi_Salon_Takip.Models.EntityFramework.Program

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-primary text-center" role="alert">
    <h2>Program Sil</h2>
</div>

<div>
    <hr />

    <table class="table table-hover">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Program_Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program_Baslangic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program_Bitis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program_Adı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program_Sahip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon.Salon_Adi)
            </th>


        </tr>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Program_Tarih)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Program_Baslangic)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Program_Bitis)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Program_Adı)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Program_Sahip)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Salon.Salon_Adi)
                </td>
            </tr>
        </tbody>


    </table>
    <div class="alert alert-danger text-center" role="alert">
        <h4>Silmek İstediğinize Emin Misiniz ?</h4>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions row">
        <div class="col-lg-6">
            <input type="submit" value="Sil" class="btn btn-danger btn-lg btn-block" />
        </div>
        <div class="col-lg-6">
            @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-primary btn-lg btn-block" })
        </div>
    </div>
}
